<div class="container-lg" style="display: flex; flex-flow: wrap; text-align: center; padding-top: 16px;
 max-width: 97%">
</div>
<h1 style="text-align: center; background: white; height: auto;">
  Hallo und herzlich willkommen auf dem Online-Kochbuch der Covid-Chaos-Crew
</h1>
<div style="height: 87%; margin-top: 18px; color: white; ">
  <div class="container-lg" id="container"
       style="display: flex; flex-flow: column; max-width: 95%; height: 96%; overflow-y: auto; overflow-x: hidden; text-align: center">
    <div style="margin-bottom: 30px; margin-top: 20px">
      Hier findet ihr eure eingesendeten Rezepte. <br/> Ob traditionell, aus der Region oder international -
    wir hoffen, es ist für jeden etwas zum Nachkochen dabei.</div>
    <div style="margin-bottom: 20px;">Wir wissen ja alle:</div>
    <div style="color: rgb(11, 156, 49)">Liebe geht durch den Magen! <br/><br/> <b>Also... Let's share some love!</b></div>
    <div style="margin-top: 50px;">Es fehlt etwas? Sendet uns weiterhin Rezepte, Tipps und Tricks aus eurer Küche!</div>
    <div style="margin-top: 10px; margin-bottom: 30px; cursor: pointer; font-style: italic"
         (click)="showRecipeInfo()"><u>Hier findest du, was wir benötigen.</u></div>
    <h3 style="color: rgb(11, 156, 49)">Eure Covid-Chaos-(Cooking)-Crew</h3>
    <img style="width: 132px; height: 180px" class="navbar-brand" [src]="'./assets/logo/logo.png'"/>
  </div>
</div>
