<div style="height: 87%; margin-top: 50px; color: white">
  <div class="container-lg" id="container"
       style="display: grid; flex-flow: wrap; height: 96%; justify-content: center; overflow-x: hidden; overflow-y: auto">
    <h3>Hallo Ihr Lieben und Herzlich willkommen auf dem Online-Kochbuch der Covid-Chaos-Crew</h3>
    <div>Hier findet Ihr eure eingesendeten Rezepte. Ob traditionell, aus der Region oder international -
    wir hoffen, es idt für jeden etwas zum Nachkochen dabei.</div>
    <div>Es fehlt etwas? Sendet uns weiterhin Rezepte, Tipps und Tricks aus eurer Küche!</div>
    <h4>Wir wissen ja alle, Liebe geht durch den Magen... also, spread some love!</h4>
    <h3>Eure Covid-Chaos-(Cooking)-Crew</h3>
    <img style="width: 102px; height: 150px" class="navbar-brand" [src]="'./assets/logo/logo.png'"/>
  </div>
</div>
