<div style="height: 87%; margin-top: 50px; color: white">
  <div class="container-lg" id="container"
       style="display: flex; flex-flow: column; height: 96%; overflow-y: auto; overflow-x: hidden; text-align: center">
    <h3 style="margin-bottom: 50px; margin-top: 15px">Hallo Ihr Lieben und Herzlich willkommen auf dem Online-Kochbuch der <br/> Covid-Chaos-Crew</h3>
    <div style="margin-bottom: 30px">
      Hier findet Ihr eure eingesendeten Rezepte. <br/> Ob traditionell, aus der Region oder international -
    wir hoffen, es ist für jeden etwas zum Nachkochen dabei.</div>
    <h4 style="margin-bottom: 20px;">Wir wissen ja alle:</h4>
    <h4>Liebe geht durch den Magen! <br/><br/> <b>Also... Let's go and share some love!</b></h4>
    <div style="margin-top: 50px;">Es fehlt etwas? Sendet uns weiterhin Rezepte, Tipps und Tricks aus eurer Küche!</div>
    <div style="margin-top: 10px; margin-bottom: 30px; cursor: pointer; font-style: italic"
         (click)="showRecipeInfo()"><u>Hier findest du, was wir benötigen.</u></div>
    <h3 style="color: rgb(11, 156, 49)">Eure Covid-Chaos-(Cooking)-Crew</h3>
    <img style="width: 132px; height: 180px" class="navbar-brand" [src]="'./assets/logo/logo.png'"/>
  </div>
</div>
