<div class="container-lg" style="display: flex; flex-flow: wrap; text-align: center; padding-top: 16px;
 max-width: 97%">
</div>
<h1 style="text-align: center; background: white; height: auto;">#Support your locals</h1>
<div style="height: 87%">
  <div class="container-lg" style="display: flex; flex-flow: wrap; height: 96%; max-width: 95%"
       id="container">
    <div class="card">
      <h5 style="text-align: center; margin-top: 10px" class="card-title">Pizzeria Viva
        <a href="https://bistro-viva.business.site" target="_blank" style="color: rgb(11, 156, 49) !important;">
          (Zur Website)
        </a>
        <br> Obersontheim</h5>
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; overflow-y: auto;">
        <div style="height: 190px; border: 5px solid rgba(11, 156, 49, .5); display: grid; background: #faa83c; margin-bottom: 15px;">
        <img style="width: 250px; align-self: center "
             class="card-img-top" alt="..."
             [src]="'./assets/images/vivabearb.jpg'">
        </div>

        <div style="align-self: start; font-weight: bold" class="card-title">Öffnungszeiten: </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Mo.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            Ruhetag
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Di., Mi., Do.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            16:30 - 20:00 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Fr.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            16:00 - 20:00 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Sa. und So.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            11:30 - 14:00 Uhr <br> 16:00 - 20:00 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; font-weight: bold; margin-top: 15px;">
          <div class="card-text" style="width: 57%; text-align: start;">
            Telefon:
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            07973/ 9124242
          </div>
        </div>

      </div>
    </div>
    <div class="card">
      <h5 style="text-align: center; margin-top: 10px;" class="card-title">Vesperstüble zum Angus
        <a href="https://www.angus-buehlertal.de/vesperstueble/speisekarte" target="_blank"
           style="color: rgb(11, 156, 49) !important;">
          (Zur Website)
        </a>
        <br> Vellberg-Eschenau</h5>
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; overflow-y: auto;">
        <img style="width: 250px; align-self: center; border: 5px solid rgba(11, 156, 49, .5); margin-bottom: 15px;"
             class="card-img-top" alt="..."
             [src]="'./assets/images/angus.jpg'">
        <div style="align-self: start; font-weight: bold" class="card-title">
          Öffnungszeiten Hofladen/ Essen zum Mitnehmen:</div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Do. und Fr.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            16:00 - 18:00 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Sa.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            10:00 - 13:00 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Letzter So. im Monat.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            11:00 - 15:00 Uhr <br> 17:00 - 21:30 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; font-weight: bold; margin-top: 15px">
          <div class="card-text" style="width: 57%; text-align: start;">
            Telefon:
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            07907/ 7915
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h5 style="text-align: center; margin-top: 10px;" class="card-title">Pizzeria Celestina
        <br>Obersontheim</h5>
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; overflow-y: auto;">
        <div style="height: 190px; border: 5px solid rgba(11, 156, 49, .5); display: grid; background: white; margin-bottom: 15px;">
          <img style="width: 250px; align-self: center "
               class="card-img-top" alt="..."
               [src]="'./assets/images/pizza.jpg'">
        </div>
        <div style="align-self: start; font-weight: bold" class="card-title">
          Öffnungszeiten:</div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Mo.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            Ruhetag
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Di., Mi., Do., Sa.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            17:00 - 22:30 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Fr., So.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            11:00 - 14:00 Uhr <br> 17:00 - 22:30 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; font-weight: bold; margin-top: 15px">
          <div class="card-text" style="width: 57%; text-align: start;">
            Telefon:
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            07973/ 910472
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h5 style="text-align: center; margin-top: 10px;" class="card-title">Döner Eck
        <br>Obersontheim</h5>
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; overflow-y: auto;">
        <div style="height: 190px; border: 5px solid rgba(11, 156, 49, .5); display: grid; background: white; margin-bottom: 15px;">
          <img style="width: 250px; align-self: center "
               class="card-img-top" alt="..."
               [src]="'./assets/images/doener1.jpg'">
        </div>
        <div style="align-self: start; font-weight: bold" class="card-title">
          Öffnungszeiten:</div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Mo.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            Ruhetag
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Di., Mi., Do., Fr., Sa., So.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            11:00 - 20:00 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; font-weight: bold; margin-top: 15px">
          <div class="card-text" style="width: 57%; text-align: start;">
            Telefon:
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            07973/ 929968
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h5 style="text-align: center; margin-top: 10px;" class="card-title">Weilerbachstüble
        <a href="http://www.weilerbachstueble.de/" target="_blank" style="color: rgb(11, 156, 49) !important;">
          (Zur Website)
        </a>
        <br>Unterfischach</h5>
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; overflow-y: auto;">
        <div style="height: 190px; border: 5px solid rgba(11, 156, 49, .5); display: grid; background: white; margin-bottom: 15px;">
          <img style="width: 250px; align-self: center "
               class="card-img-top" alt="..."
               [src]="'./assets/images/weilerbach.png'">
        </div>
        <div style="align-self: start; font-weight: bold" class="card-title">
          Öffnungszeiten:</div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Essen zum Mitnehmen:
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            Jeden Sonntag Mittag
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 100%; text-align: start">
            Bestellungen bis Donnerstagabend möglich.
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; font-weight: bold; margin-top: 15px">
          <div class="card-text" style="width: 57%; text-align: start;">
            Telefon:
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            07973/ 911553
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h5 style="text-align: center; margin-top: 10px;" class="card-title">Döner
        <br>Bühlertann</h5>
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; overflow-y: auto;">
        <div style="height: 190px; border: 5px solid rgba(11, 156, 49, .5); display: grid; background: white; margin-bottom: 15px;">
          <img style="width: 250px; align-self: center "
               class="card-img-top" alt="..."
               [src]="'./assets/images/doener1.jpg'">
        </div>
        <div style="align-self: start; font-weight: bold" class="card-title">
          Öffnungszeiten:</div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Mo.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            Ruhetag
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Di., Mi., Do., Fr., Sa., So.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            12:00 - 22:00 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; font-weight: bold; margin-top: 15px">
          <div class="card-text" style="width: 57%; text-align: start;">
            Telefon:
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            07973/ 9124613
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h5 style="text-align: center; margin-top: 10px" class="card-title">Gasthof Stern
        <a href="http://stern-landgasthof.de/" target="_blank" style="color: rgb(11, 156, 49) !important;">
          (Zur Website)
        </a>
        <br> Bühlertann</h5>
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; overflow-y: auto;">
        <div style="height: 190px; border: 5px solid rgba(11, 156, 49, .5); display: grid; background: white; margin-bottom: 15px;">
          <img style="width: 250px; align-self: center "
               class="card-img-top" alt="..."
               [src]="'./assets/images/stern.png'">
        </div>

        <div style="align-self: start; font-weight: bold" class="card-title">Öffnungszeiten: </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Mi., Do.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            Ruhetag
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Mo., Di., Fr., Sa.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            17:30 - 20:45 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            So.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            11:30 - 13:45 Uhr <br> 17:30 - 20:45 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; font-weight: bold; margin-top: 15px;">
          <div class="card-text" style="width: 57%; text-align: start;">
            Telefon:
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            07973/ 726
          </div>
        </div>

      </div>
    </div>
    <div class="card">
      <h5 style="text-align: center; margin-top: 10px" class="card-title">Gasthof zum Bären
        <a href="https://www.gasthofzumbaeren.de/startseite" target="_blank" style="color: rgb(11, 156, 49) !important;">
          (Zur Website)
        </a>
        <br>Bühlertann</h5>
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; overflow-y: auto;">
        <div style="height: 190px; border: 5px solid rgba(11, 156, 49, .5); display: grid; background: white; margin-bottom: 15px;">
          <img style="width: 250px; align-self: center "
               class="card-img-top" alt="..."
               [src]="'./assets/images/baeren.png'">
        </div>

        <div style="align-self: start; font-weight: bold" class="card-title">Öffnungszeiten: </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 100%; text-align: start">
            Essen zum Abholen
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Vorbestellungen
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            Do. - Sa.: 10:00 - 12:00 Uhr <br> 17:00 - 20:00 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Abholen
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            So.: 11:00 - 13:30 Uhr
          </div>
        </div>
        <div style="width: 100%; display: flex; flex-flow: row; font-weight: bold; margin-top: 15px;">
          <div class="card-text" style="width: 57%; text-align: start;">
            Telefon:
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            07973/ 6121
          </div>
        </div>

      </div>
    </div>
    <div class="card">
      <h5 style="text-align: center; margin-top: 10px;" class="card-title">Gasthaus Schirle
        <br>Bühlertann</h5>
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; overflow-y: auto;">
        <div style="height: 190px; border: 5px solid rgba(11, 156, 49, .5); display: grid; background: white; margin-bottom: 15px;">
          <img style="width: 250px; align-self: center "
               class="card-img-top" alt="..."
               [src]="'./assets/images/schirle.png'">
        </div>
        <div style="align-self: start; font-weight: bold" class="card-title">
          Öffnungszeiten:</div>
        <div style="width: 100%; display: flex; flex-flow: row; border-bottom: 1px solid #364134">
          <div class="card-text" style="width: 57%; text-align: start">
            Mo. - Fr.
          </div>
          <div class="card-text" style="width: 100%; text-align: end">
            Mittagstisch zum Abholen
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
